.layer-menu {
  z-index: 99999;
  position: absolute;
}

.layer-menu.closed {
  width: 48px;
  height: 48px;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 10px;
  right: 10px;
}

.layer-menu .show-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0;
  background-color: white;
  background-image: url("/icon-btn.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  cursor: pointer;
}

.layer-menu.open {
  background: rgb(255 255 255 / 0.5);
  padding: 0;
  margin: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.layer-menu .hide-btn {
  background: white;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 2px solid #666;
  border-radius: 10px;
  font-family: sans-serif;
  text-align: center;
  line-height: 44px;
  font-size: 12px;
  cursor: pointer;
}

.layer-menu > ul {
  font-family: sans-serif;
  display: block;
  padding-top: 32px;
  padding-bottom: 64px;
  padding-right: 16px;
}

.layer-menu li {
  margin-top: 16px;
}

.layer-menu li svg {
  color: gray;
  width: 20x;
  height: 20px;
  position: relative;
  top: -2px;
}
