.layer-menu {
  z-index: 99999;
  position: absolute;
}

.layer-menu.closed {
  width: 48px;
  height: 48px;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 10px;
  right: 10px;
}

.layer-menu .show-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0;
  background-color: white;
  background-image: url("/icon-btn.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  cursor: pointer;
}

.layer-menu.open {
  background: rgb(255 255 255 / 0.5);
  padding: 0;
  margin: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.layer-menu .hide-btn {
  background: white;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 2px solid #666;
  border-radius: 10px;
  font-family: sans-serif;
  text-align: center;
  line-height: 44px;
  font-size: 12px;
  cursor: pointer;
}

.layer-menu > ul {
  font-family: sans-serif;
  display: block;
  padding-top: 48px;
  padding-bottom: 128px;
  padding-right: 16px;
  filter: drop-shadow(0px 0px 3px white) drop-shadow(0px 0px 6px white);
  width: calc(100vw - 48px);
}

.layer-menu li.layer-group {
  list-style: none;
  margin-left: -16px;
  padding-left: 0px;
}

.layer-menu li.layer-group .collapse-btn {
  width: 16px;
  height: 16px;
  display: inline-block;
  transform: rotate(90deg);
  transform-origin: center center;
  position: relative;
  top: 3px;
  margin-right: 5px;
  padding-left: 0;
}

.layer-menu li.layer-group.collapsed .collapse-btn {
  transform: rotate(0deg);
}

.layer-menu li.layer-group .collapse-btn svg {
  position: relative;
  top: -5px;
  left: 2px;
}

.layer-menu li.layer-group.collapsed ul {
  display: none;
}

.layer-menu li.layer-group input[type="checkbox"] {
  position: relative;
  top: 1px;
}

.layer-menu li.layer-group input[type="checkbox"].disabled {
  filter: grayscale() opacity(0.5);
}

@supports (font: -apple-system-body) {
  /* safari only */
  .layer-menu li.layer-group input[type="checkbox"] {
    top: -2px;
  }
}

.layer-menu li {
  margin-top: 16px;
  white-space: nowrap;
  padding-left: 1px;
  margin-left: 4px;
}

.layer-menu li .icon svg {
  color: gray;
  width: 20x;
  height: 20px;
  position: relative;
  top: -2px;
}
